<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <div class="nav mb-10 text-xl">
        <a class="text-blue-500" href="/read">Go to all Users</a>
      </div>
      <h1 class="text-3xl tighting-tigher mb-10">Create User Form</h1>
      <form action="/create" method="POST">
        <input
          class="px-5 py-2 bg-transparent border-1 border-zinc-300 rounded-lg outline-none"
          type="text"
          placeholder="name"
          name="name"
        />
        <input
          class="px-5 py-2 bg-transparent border-1 border-zinc-300 rounded-lg outline-none"
          type="text"
          placeholder="email"
          name="email"
        />
        <input
          class="px-5 py-2 bg-transparent border-1 border-zinc-300 rounded-lg outline-none"
          type="text"
          placeholder="image url"
          name="image_url"
        />
        <input
          class="px-5 py-2 bg-blue-500 rounded-lg ml-3"
          type="submit"
          value="Create User"
        />
      </form>
    </div>
  </body>
</html>
