<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"
      defer
    ></script>
    <title>Document</title>
  </head>

  <body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
      <a class="text-blue-500 inline-block mb-10" href="/">Go Back</a>
      <form action="/edit" method="POST">
        <input
          class="block w-[1/4] rounded-md outline-none px-5 py-2 bg-zinc-700 text-zinc-400"
          type="text"
          placeholder="Previous Name"
          name="previous"
          value="<%= fileName %>"
          disabled="true"
        />
        <input
          class="block w-[1/4] rounded-md outline-none px-5 py-2 mt-2 bg-zinc-700"
          type="text"
          placeholder="New Name"
          name="new"
        />
        <input
          class="mt-2 bg-yellow-600 px-5 py-2 rounded-lg"
          type="submit"
          value="Update Filename"
        />
      </form>
    </div>
  </body>
</html>
